<footer class="py-5 section-animate animate-gradient text-viaduc-white">
  <div class="flex justify-center gap-0.5">
    <a href="#"
      ><i
        class="fa-brands fa-facebook-f text-2xl rounded-full bg-viaduc-black w-10 h-10 inline-flex items-center justify-center"
        style="color: #ffffff;"></i></a
    >
    <a href=""
      ><i
        class="fa-brands fa-twitter text-2xl rounded-full bg-viaduc-black w-10 h-10 inline-flex items-center justify-center"
        style="color: #ffffff;"></i></a
    >
    <a href=""
      ><i
        class="fa-brands fa-instagram text-2xl rounded-full bg-viaduc-black w-10 h-10 inline-flex items-center justify-center"
        style="color: #ffffff;"></i></a
    >
  </div>

  <div class="flex justify-center flex-col items-center py-5">
    <bold class="uppercase font-bold">Le viaduc - Sauna club libertin</bold>
    <p class="text-center">12 rue des Près Bas 63000 Clermont-Ferrand </br > 04 73 29 21 38</p>
  </div>

  <div class="text-center">
    <div class="copyright">© 2023 Le Viaduc </div>
    <div>Conception Site : <a href="" class="us font-bold capitalize">BlackSun</a> | Design & Logo : <a href="" class="us font-bold capitalize">Logan</a></div>
  </div>

  <a href="" class="ml uppercase tracking-widest text-center block pt-5">Mentions Légales</a>

</footer>

<style>

  footer {
    letter-spacing: 2.25px;
    font-size: 10px;
  }

  bold {
    letter-spacing: 5px;
  }

  p {
    font-size: 9px;
  }
  a.us {
    letter-spacing: 2.5px;
  }

  a.ml {
    letter-spacing: 3.5px;
    font-size: 7px;
  }

  .copyright {
    letter-spacing: 2.5px;
  }
</style>

