---
import Nav from "./Nav.astro";
---

<header class="flex flex-col">
  <div class="flex-grow mx-10 pt-10">
    <div class="flex justify-center items-center">
      <img src='/leviaduc/le_viaduc_final_court.png' alt="Le Viaduc sauna" width="500" height="200" />
    </div>
    <Nav />
  </div>
</header>