<!--<nav class="flex justify-center mt-6">
  <ul class="flex flex-column">
    <li class="px-8">
      <a href="#intro">Intro</a>
    </li>
    <li class="pl-8 pr-4 border-l-2 border-viaduc-pink">
      <a href="#galery">Galerie</a>
    </li>
    <li class="pl-8 pr-4 border-l-2 border-viaduc-indigo">
      <a href="#evening">Soirées</a>
    </li>
    <li class="pl-8 pr-4 border-l-2 border-viaduc-blue">
      <a href="#schedule">Horaires</a>
    </li>
  </ul>
</nav>-->
<nav class="flex justify-around  mt-10 md:mt-6 group min-h-48">
  <svg
    id="hamburger"
    class="hamburger  md:hidden mt-2"
    xmlns="http://www.w3.org/2000/svg"
    width="72"
    height="61"
    viewBox="0 0 72 61"
    fill="none"
  >
    <path
      class="group-hover:animate-down-rotate"
      id="top-line"
      d="M0 2.5H72"
      stroke="#E6007E"
      stroke-width="5"></path>
    <path
      class="group-hover:animate-hide"
      id="middle-line"
      d="M0 30.5H72"
      stroke="#7B549E"
      stroke-width="5"></path>
    <path
      class="group-hover:animate-up-rotate"
      id="bottom-line"
      d="M0 58.5H72"
      stroke="#0052A1"
      stroke-width="5"></path>
  </svg>

  <ul class="group-hover:flex flex-col gap-4 hidden">
    <li class="md:px-8">
      <a href="#intro">Intro</a>
    </li>
    <li class="md:pl-8 md:pr-4 md:border-l-2 md:border-viaduc-pink">
      <a href="#galery">Galerie</a>
    </li>
    <li class="md:pl-8 md:pr-4 md:border-l-2 md:border-viaduc-indigo">
      <a href="#evening">Soirées</a>
    </li>
    <li class="md:pl-8 md:pr-4 md:border-l-2 md:border-viaduc-blue">
      <a href="#schedule">Horaires</a>
    </li>
  </ul>
</nav>

<style>
  a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    text-transform: uppercase;
  }

  #top-line,
  #bottom-line,
  #middle-line {
    transform-box: fill-box;
    transform-origin: center;
  }
</style>
