---
import {Burger} from "../components/Burger"
---

<nav class="justify-around  mt-10 xl:mt-6 group min-h-48 xl:min-h-10 xl:justify-center flex">

  <ul class="xl:flex flex-column hidden p-8 gap-8">
    <li>
      <a href="#intro">Intro</a>
    </li>
    <li class="pl-8 border-l-2 border-viaduc-pink">
      <a href="#galery">Galerie</a>
    </li>
    <li class="pl-8 border-l-2 border-viaduc-indigo">
      <a href="#evening">Soirées</a>
    </li>
    <li class="pl-8 border-l-2 border-viaduc-blue">
      <a href="#schedule">Horaires</a>
    </li>
  </ul>
  <div class="xl:hidden">
    <Burger client:load />
  </div>
</nav>

<style is:global>
  nav a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    text-transform: uppercase;
  }

  #top-line,
  #bottom-line,
  #middle-line {
    transform-box: fill-box;
    transform-origin: center;
  }
</style>
